*{
    margin: 0;
    padding: 0;
     box-sizing: border-box;
}
/* font */


.roboto-condensed {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
}

/* end */
/* header  */
.header{
    width: 100%;
    height: 80px;
display: flex;
align-items: center;
padding: 0 60px;
justify-content: space-between;

}
.logo img{
    height: 45px;
    padding-left: 90px;
    

}
.menu{
    display: flex;
    gap: 32px;
}
.menu a{
    text-decoration: none;
    color: black;
    font-size:22px;
    font-weight: 500;
}
.menu a:hover{
    background-color: aquamarine;
}
.header-btn button{
padding:12px 22px;
border: none;
font-size: 16px;
background-color: #30B868;
color:white;
font-weight: 500;
border-radius: 4px;
}
.header-btn{
    padding-right: 80px;
}
.header-btn button:hover{
    background-color:burlywood;
}
/*  close */
 /* Banner  */
.banaer{
    background-image: url(B13-A01-Knowledge-Vault/assets/hero-bg.png);
    background-size: cover;
    max-width: 1600px;
    height: 100vh;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
}
.overly{
position: relative;
inset:0;

}
.banner-content{
    position: relative;
    text-align: center;
    color: white;
    max-width: 800px;
    padding: 20px;
}
.badge{
    display: inline-flex;
    align-items: center;
    gap:6px;
    background-color: white;
    color: #30B868;
    padding: 8PX 34PX;
    border-radius: 20PX;
    font-size: 13PX;
    margin-bottom: 16px;
}
.banner-content h1{
    font-size: 52px;
    margin-bottom: 20px;
}
.banner-content h1 span{
    color: #30B868;
}
.banner-content p{
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 28px;
}
.button{
    display: flex;
    justify-content: center;
    gap:18px;
}
.btn-primary{
    padding: 12px 22px;
    text-decoration: none;
    border-radius: 3.8px;
    font-size: 14px;
    background: #30B868;
    color: white;
}
.btn-secondary{ 
 padding: 12px 22px;
    text-decoration: none;
    border-radius: 3.8px;
    font-size: 14px;
    border: 1.6px solid white;
    color: white;
}
.btn-secondary:hover{
    background-color:#30B868;
}
.btn-primary:HOVER{
    background-color:rebeccapurple;
    transition: all 0.3s ease ;
}
/*  end */
    /* Note Section  */
#note{
    padding: 100px 0; 
}
 .note-container{
    width: 85%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 55px;
}
.note-heading h3{
    font-size: 48px;
    font-weight: bolder;
}
.note-heading p{
    font-size: 16px;
}
#note .note-container .note-box{
    display: flex;
    gap:24px;
    justify-content: center;
}
.note-box .note-card{
    padding:30px;
    max-width: 250px;
}
.note-card img{
    background-color: #F95555;
    border-radius: 50%;
    padding: 8px;
    
}
.note-card h4{
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 16px;
white-space: nowarp;
}
.note-card p{
    font-size: 16px;
}
    /* End */
    /* Second Barin Section  */
.second-barin{
    padding: 100px 0;
    background-color: #ffffff;
}
 .container{
    width: 85%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 60px;
}

.barin-imagae img{
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
}
.barin-content{
    max-width: 500px;
}
.section-tag {
    color: #30B868;
    font-size: 16px;
    font-weight: bolder;
letter-spacing: 1px;
}
.barin-content h2{
    font-size: 48px;
    margin: 15px 0;
    color:#001931;
}
.description{
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 16px;
}
.list{
    list-style: none;
}
.list li{
    position: relative;
    padding-left: 25px;
    margin-bottom: 16px;
    font-size: 16px;
}
.list li::before{
content: url(/B13-A01-Knowledge-Vault/assets/CheckCircle.png);
position: absolute;
left: 0;
cursor: pointer;

}
    /*  End */
/* Early Access Section */
.hero{
    background-color: #F7F6F2;
    padding: 60PX 20PX;
    text-align: center ;
    margin: 120PX 145PX;
}
.hero h1{
    font-size: 40px;
    margin-bottom: 10px;
}
.subtitle{
    font-size: 16px;
    color: #627382;
    margin-bottom: 24px;
}
.btn{
     padding: 12px 22px;
    text-decoration: none;
    border-radius: 4px;
    font-size: 14px;
    background: #30B868;
    color: white;
    border: none;
}

.btn:hover{
    background-color:rebeccapurple;
    transition: all 0.3s ease ;}

.end-massage{
    display: flex;
    justify-content: center;

}
.box{
    padding:  16px 0px;
    font-size: 16px;
        color: #627382;

}

/* End */

/* footer */
.footer{
    background-color: #0A1F40;
    color:#fff;
    padding: 30px 40px;
}
.footer-top{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 80px;
}
.footer-social p{
    padding: 18px;
    align-items: center;
    justify-content: center;
}
.footer-logo img{
    height: 50px;
}
.footer-social a{
    display: inline-block;
    margin-left: 15px;
}
.footer-social img{
    width: 24px;
    height: 24px;
    background-color: white;
    border-radius: 50%;
}
.footer-divider{
    height: 1px;
    margin: 30px 0;
    width: 100%;
    border: none;
    border-top: 2.6px solid hsl(163, 100%, 50%);
}
.footer-bottom {
    text-align: center;
    font-size: 16px;
    margin-top: 30px;

}
/* end */
