*{
    margin: 0;
    padding: 0;
     box-sizing: border-box;
}
.header{
    width: 100%;
    height: 80px;
display: flex;
align-items: center;
padding: o 60px;
justify-content: space-between;

}
.logo img{
    height: 45px;
    padding-left: 90px;
    

}
.menu{
    display: flex;
    gap: 32px;
}
.menu a{
    text-decoration: none;
    color: black;
    font-size:22px;
    font-weight: 500;
}
.menu a:hover{
    background-color: aquamarine;
}
.header-btn button{
padding:12px 22px;
border: none;
font-size: 16px;
background-color: #30B868;
color:white;
font-weight: 500;
border-radius: 4px;
}
.header-btn{
    padding-right: 80px;
}
.header-btn button:hover{
    background-color:burlywood;
}